# local actionhero files

pids/*
tmp/*
log/*
cache/*
node_modules/*
public/javascript/actionheroClient.js
public/javascript/actionheroClient.min.js

# Node / NPM 
npm-debug.log

# OS-specific wierdness
.DS_Store

# Redis
dump.rdb
cache.dump

# Jekyll Site
_site/*

# Editor-specific
/nbproject/*
/.idea/*