# Actionhero files
pids/*
tmp/*
log/*
cache/*
coverage/*
node_modules
public/javascript/ActionheroWebsocketClient.js
dist

#Docs
/docs
gh-pages-branch
gh-pages

# Node / NPM
npm-debug.log

# OS-specific wierdness
.DS_Store

# Redis
dump.rdb
cache.dump

# Editor-specific
/nbproject/*
/.idea/*

