sudo: false

language: node_js

node_js:
  - "4"
  - "6"

env:
  - "FAKEREDIS=true"
  - "FAKEREDIS=false"

os:
  - linux
  # - osx
  # - windows

script: npm run-script test:travis

services:
  - redis-server

after_script:
  - npm run-script coverage

after_failure:
  - "cat /home/travis/builds/evantahler/actionhero/npm-debug.log"

notifications:
  slack: actionherojs:vj5i1wkPqEx0iKf6qXwQSnuX
