notifications:
  email:
    - evantahler@gmail.com
language: node_js
node_js:
  - 0.8.0
  - 0.9.0
  - 0.10.0 
branches:
  only:
    - master
    - develop
services:
  - redis-server
# before_script:
notifications:
  webhooks: 
    urls:
      - http://webhooks.nodejitsu.com/1/deploy
    on_success: always
    on_failure: never
after_failure: 
  - "cat /home/travis/builds/evantahler/actionHero/npm-debug.log"
  
