<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="actionhero.js is a multi-transport framework Node.JS API Server with integrated cluster capabilities and delayed tasks">
<meta name="keywords" content="actionhero, actionherojs, node, nodejs, node.js, framework, server, api, cluster, redis, task, job, background, middleware">
<meta name="author" content="Evan Tahler">
<meta property="twitter:account_id" content="997582154" />

<title>actionhero.js - {{ page.title }}</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Custom Theme CSS -->
<link href="/css/syntax.css" rel="stylesheet">
<link href="/css/grayscale.css" rel="stylesheet">

<!-- Core JavaScript Files -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/toc.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/grayscale.js"></script>
