<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-play-circle"></i>  <span class="light">actionhero</span>.js
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a href="/wiki">Home</a></li>
                <li><a href="/wiki/methods.html"><strong>API Methods</strong></a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Core <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/core/actionCluster.html">ActionCluster</a></li>
                        <li><a href="/wiki/core/actions.html">Actions</a></li>
                        <li><a href="/wiki/core/cache.html">Cache</a></li>
                        <li><a href="/wiki/core/chat.html">Chat</a></li>
                        <li><a href="/wiki/core/config.html">Config</a></li>
                        <li><a href="/wiki/core/development-mode.html">Development Mode</a></li>
                        <li><a href="/wiki/core/exceptions.html">Exceptions</a></li>
                        <li><a href="/wiki/core/file-server.html">File Server</a></li>
                        <li><a href="/wiki/core/initializers.html">Initializers</a></li>
                        <li><a href="/wiki/core/logging.html">Logging</a></li>
                        <li><a href="/wiki/core/middleware.html">Middleware</a></li>
                        <li><a href="/wiki/core/servers.html">Servers</a></li>
                        <li><a href="/wiki/core/stats.html">Stats</a></li>
                        <li><a href="/wiki/core/tasks.html">Tasks</a></li>
                        <li><a href="/wiki/core/plugins.html">Plugins</a></li>
                        <li><a href="/wiki/core/api_object.html">API Object</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Servers <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/servers/web.html">Web Server</a></li>
                        <li><a href="/wiki/servers/websocket.html">WebSocket Server</a></li>
                        <li><a href="/wiki/servers/socket.html">Socket Server</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Ops <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/ops/getting-started.html">Getting Started</a></li>
                        <li><a href="/wiki/ops/running-actionhero.html">Running actionhero</a></li>
                        <li><a href="/wiki/ops/testing.html">Testing</a></li>
                        <li><a href="/wiki/ops/production-notes.html">Deployment</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Examples <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/examples/actions.html">Actions</a></li>
                        <li><a href="/wiki/examples/tasks.html">Tasks</a></li>
                        <li><a href="/wiki/examples/initializers.html">initializers</a></li>
                    </ul>
                </li>

                                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>