body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1, h2 { text-transform: uppercase; }

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: orange;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #CC0000;
}

.container > ul {
    font-size: 20px;
}

.toc a {
    font-size: 18px;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/images/sky.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-docs {
    display: table;
    width: 100%;
    height: 40px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/images/sky.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.learn-more-intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/images/actionheroBoot.gif) no-repeat bottom left scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 85px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    /*color: #fff;*/
    color: #176e61;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: green;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.content-section {
    padding-top: 50px;
}

.thin-content-section {
    padding-top: 30px;
    padding-bottom: 0px;
}

.highlight {
    background-color: #176e61;
}

.ad-section {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: url(/images/ads-background.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.carbon-poweredby:after {
    content: " ~ ads support actionhero development"
}

#carbonads {
  margin: 0 auto;
  padding: 1.5em 1em;
  max-width: 29em;
  background: hsla(0, 0%, 0%, .5);
  font-size: .9em;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

#carbonads span,
#carbonads a {
  display: block !important;
  overflow: hidden;
}

#carbonads a { color: orange;}
#carbonads a:hover { text-decoration: underline; }

.carbon-text,
.carbon-poweredby {
  font-size: inherit !important;
}

.carbon-img {
  margin-bottom: .5em;
}

.carbon-text {
  margin-bottom: .2em;
}

.carbon-poweredby {
  font-size: .9em !important;
}












.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/images/sky-downloads.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.docs-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    text-align: left;
    background-color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.features-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.feature-description {
    font-size: 120%;
    text-align: left;
}

.learn-more-section {
    width: 100%;
    padding: 0px 0;
    color: #fff;
    background-color: red;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
    }

    .download-section {
        padding: 50px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid orange;
    color: orange;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #CC0000;
    outline: 0;
    color: #000;
    background-color: #CC0000;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

pre {
    text-align: left;
}

code {
    padding: 2px 4px;
    font-size: 70%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}

.highlighttable {
    width: 100%;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}


pre::selection, pre span::selection {
    background: yellow;
}

code::selection, code span::selection {
    background: yellow;
}


img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.companyContanier {

}

.comanyLogo {
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 5px;
    margin: 5px;
    border: 1px solid orange;
    width: 100px;
    height: 100px;
}

/*code rendering hacks*/
pre.highlight {
    background-color: white;
}

/*Gitter pop-over zindex*/

.gitter-chat-embed {
  z-index: 999999998;
}
.gitter-open-chat-button {
  z-index: 999999999;
}