<section id="try" class="thin-content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Try actionhero Now</h2>
                <pre>
npm install actionhero

./node_modules/.bin/actionhero generate

npm install

npm start
                </pre>
            </div>
        </div>
    </div>
</section>