<section id="try" class="thin-content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-md-6">
                <h2>Try actionhero Now</h2>
                <pre>
npm install actionhero

./node_modules/.bin/actionhero generate

npm install

npm start
                </pre>
            </div>
            <div class="col-md-6">
                <h2>Get Actionhero Stuff</h2>
                <div class="row">
                  <div class="col-md-6">
                    <a href="https://teespring.com/actionhero-t-shirts" target="_blank"><img width="90%" src="/images/swag/shirt.png"/></a>
                  </div>
                  <div class="col-md-6">
                    <a href="https://www.stickermule.com/marketplace/8033-actionherojs" target="_blank"><img width="90%" src="/images/swag/sticker.png"/></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
