import { Process, specHelper } from "actionhero";

describe("Action", () => {
  const actionhero = new Process();

  describe("%%name%%", () => {
    beforeAll(async () => {
      await actionhero.start();
    });

    afterAll(async () => {
      await actionhero.stop();
    });

    test("returns OK", async () => {
      const { ok } = await specHelper.runAction("%%name%%");
      expect(ok).toEqual(true);
    });
  });
});
