# Actionhero files
pids/*
tmp/*
log/*
cache/*
coverage/*
node_modules/*
public/javascript/ActionheroWebsocketClient.js
dist

# Node / NPM
npm-debug.log

# OS-specific weirdness
.DS_Store

# Redis
dump.rdb
cache.dump

# Editor-specific
/nbproject/*
/.idea/*
