<!DOCTYPE html>
<html lang="en">

<head>
    {% include header-common.html %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    {% include docs-nav.html %}

    <section class="intro-docs">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">actionhero</h1>
                        <h1 class="brand-heading">docs</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="content-section-thin">
      <div class="features-section">
          <div class="container">


            <div class="toc"></div>
            
            <hr />
            
            {{ content }}

          </div>
      </div>
    </section>

    {% include contribute.html %} 

    {% include footer.html %} 

    {% include analytics.html %}

</body>

</html>