name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run lint

  docs:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run docs

  test:
    runs-on: ubuntu-latest
    container:
      image: node
      options: --network-alias main

    services:
      redis:
        image: redis

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: install puppeteer dependencies
        run: apt-get update && apt-get install -y libgtk2.0-0 libgtk-3-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb libgbm-dev
      - run: ./node_modules/.bin/jest --ci
        env:
          REDIS_HOST: redis
          maxMemoryAlloted: 10000

  complete:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [lint, docs, test]
    steps:
      - run: echo "Done!"
